body{
	margin: 0px;
	padding: 0px;	
	font-size: 14px;	
}
#wrapper{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}
#upside{
	width: 850px;
	height: 550px;
    margin: 0 auto;
    background: white;
}
#logo-item{
	width: 850px;
	height: 80px;
	/*background: aqua;*/
}
#logo-item img{
	margin: 16px 400px;
	
}
#title-item{
	width: 850px;
	height: 80px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;	
	
	/*background: #FAEBD7;*/
	
}

#main-item{
	width: 850px;
	height: 350px;
	/*background: blueviolet;*/
}
#main-item h4{
	margin-left: 275px;
	font-size: 16px;
	display: inline;
	color: #333;
    font-weight: normal;
}
#main-item .div1{
	margin-left: 275px;
}
#main-item .div1 input{
	width: 300px;
	height: 40px;
	margin: 2px;
}
#main-item .div2{
	margin-left: 275px;
	margin-top: 15px;
}

#main-item .div2 input{
	font-size: 16px;
	width: 303px;
	height: 45px;
	margin: 2px;
	background: #ff6700;
	border: 0px solid;
	color: #fff
}
#main-item .div3{
	margin-left: 520px;
	line-height: 20px;
}
#main-item .div3 a{
	text-decoration: none;
	color: #999;
}
#agreement-item{
	width: 850px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	/*background: brown;	*/
}
#footer{
	height: 100px;
	text-align: center;
	margin-top: 20px;
	/*background: antiquewhite;*/
}

