html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif
}
body {
	margin: 0
}
body {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px
}

.breadcrumbs {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	background: #f5f5f5;
	color: #616161
}

.breadcrumbs a {
	color: #757575
}

.breadcrumbs a:hover {
	color: #424242
}

.breadcrumbs .sep {
	margin: 0 0.5em;
	color: #b0b0b0
}
.container {
	width: 1226px;
	*zoom: 1;
	margin-right: auto;
	margin-left: auto
}

.container:before,
.container:after {
	content: " ";
	display: table
}

.container:after {
	clear: both
}
a {
	color: #757575;
	text-decoration: none
}

a:hover {
	color: #ff6700;
	text-decoration: none
}
.sep,
.ndash {
	margin: 0 .25em;
	font-family: sans-serif
}
.user-main {
	padding-bottom: 40px
}
.page-main {
	background: #f5f5f5
}
.row {
	margin-left: -14px;
	_margin-left: 0;
	*zoom: 1
}

.row:before,
.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12,
.span13,
.span14,
.span15,
.span16,
.span17,
.span18,
.span19,
.span20 {
	float: left;
	margin-left: 14px;
	min-height: 1px
}

.span1 {
	width: 48px
}

.span2 {
	width: 110px
}

.span3 {
	width: 172px
}

.span4 {
	width: 234px
}

.span5 {
	width: 296px
}

.span6 {
	width: 358px
}

.span7 {
	width: 420px
}

.span8 {
	width: 482px
}

.span9 {
	width: 544px
}

.span10 {
	width: 606px
}

.span11 {
	width: 668px
}

.span12 {
	width: 730px
}

.span13 {
	width: 792px
}

.span14 {
	width: 854px
}

.span15 {
	width: 916px
}

.span16 {
	width: 978px
}

.span17 {
	width: 1040px
}

.span18 {
	width: 1102px
}

.span19 {
	width: 1164px
}

.span20 {
	width: 1226px
}

.span-first {
	_margin-left: 0
}

.uc-box {
	background: #fff
}
.uc-sub-box {
	padding: 36px 0
}
.uc-nav-box {
	margin-bottom: 12px
}

.uc-nav-box .box-hd {
	height: 52px
}

.uc-nav-box .box-hd .title {
	margin: 0 48px 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 52px;
	color: #333
}
.uc-nav-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.uc-nav-list li {
	padding: 6px 48px
}

.uc-nav-list li.active a {
	color: #ff6700
}

.uc-nav-list a {
	color: #757575
}

.uc-nav-list a:hover {
	color: #424242
}

.uc-nav-list .bubble {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 24px;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	background-color: #e53935;
	color: #fff;
	border-radius: 12px
}

.uc-nav-list i {
	font-style: normal
}
dl,
menu,
ol,
ul {
	margin: 1em 0
}
menu,
ol,
ul {
	padding: 0 0 0 40px
}

.service-box {
	background: #fff
}

.service-main-box {
	padding: 36px 0
}
.service-content-box {
	margin: 0 48px
}
.service-content-box .uploader {
	position: relative
}

.service-content-box .uploader .btn-uploader {
	display: block;
	width: 118px;
	height: 30px;
	padding-top: 54px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	text-align: center;
	background: url(../images/icon-add.png) no-repeat 50% 12px;
	color: #333
}

.service-content-box .uploader .result {
	margin: 5px 0 0;
	font-size: 12px
}

.service-content-box .input-tip {
	margin-left: 10px;
	color: #757575
}

.service-content-box .form-row .form-section {
	float: left;
	margin-right: 14px
}
.service-content-box .label-title {
	margin: 5px 0 20px;
	font-size: 14px;
	font-weight: 400;
	color: #757575
}
.service-content-box .label-title-row {
	margin-top: 25px
}
.service-content-box .box-hd .title {
	margin: 0;
	font-size: 36px;
	font-weight: 400;
	line-height: 68px;
	color: #b0b0b0
}
.service-content-box .service-progress {
	padding: 20px 0;
	margin-bottom: 20px
}
.service-content-box .service-section .section-hd {
	height: 50px;
	padding: 0 32px;
	margin-bottom: 28px;
	border-left: 2px solid #ff6700;
	background-color: #eee;
	color: #333
}
.service-content-box .service-section .section-bd {
	margin-bottom: 28px
}

.service-content-box .service-section .section-title {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px
}
.service-choose-list {
	margin: 40px 0;
	padding: 0;
	list-style-type: none
}

.service-choose-list .icon {
	display: block;
	width: 72px;
	height: 72px;
	margin: 0 auto 20px;
	background: url("../images/icons-choose-list.png") no-repeat 0 0
}

.service-choose-list .icon-order {
	background-position: 0 0
}

.service-choose-list .icon-fill {
	background-position: 0 -72px
}

.service-choose-list li {
	float: left;
	width: 50%;
	text-align: center
}

.service-choose-list h3 {
	margin: 0 0 5px;
	font-size: 22px;
	font-weight: 400;
	color: #333
}

.service-choose-list p {
	margin: 0 0 15px;
	color: #757575
}
.clearfix {
	*zoom: 1
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}
p,
pre {
	margin: 1em 0
}
.btn {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 158px;
	height: 38px;
	padding: 0;
	margin: 0;
	border: 1px solid #b0b0b0;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	color: #b0b0b0;
	cursor: pointer;
	-webkit-transition: all .4s;
	transition: all .4s
}

.btn:hover {
	text-decoration: none;
	color: #b0b0b0
}

.btn:focus {
	outline: 0
}

.btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.18);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.18)
}

.btn[disabled] {
	border-style: dashed !important;
	border-color: #e0e0e0;
	background-color: #fff !important;
	color: #b0b0b0 !important;
	cursor: default !important
}

.btn-disabled {
	background: #e0e0e0 !important;
	border-color: #e0e0e0 !important;
	color: #b0b0b0 !important;
	cursor: default !important
}

.btn-small {
	width: 118px;
	height: 28px;
	font-size: 12px;
	line-height: 28px
}

.btn-large {
	width: 178px;
	height: 48px;
	line-height: 48px
}

.btn-biglarge {
	width: 298px;
	height: 52px;
	line-height: 52px;
	font-size: 16px
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0
}
.btn-line-green {
	border-color: #83c44e;
	background: #fff;
	color: #83c44e
}

.btn-line-green:hover {
	color: #fff;
	background-color: #71b639;
	border-color: #71b639
}
.service-progress-list {
	width: 880px;
	height: 20px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	border-radius: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #424242;
	background-color: #eee
}

.service-progress-list .step {
	float: left;
	width: 176px;
	height: 20px
}

.service-progress-list .step-first {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px
}

.service-progress-list .step-last {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px
}

.service-progress-list .step-done {
	background-color: #83c44e;
	color: #fff
}

.service-progress-list .step-active {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #83c44e;
	color: #fff
}

.service-progress-list .step .info {
	margin-top: 15px;
	color: #757575
}

.service-progress-list-col-3 .step {
	width: 293px
}

.service-progress-list-col-4 .step {
	width: 220px
}
form {
	margin: 0
}
.service-label-list {
	width: 902px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	_zoom: 1
}

.service-label-list li {
	float: left;
	_display: inline;
	width: 160px;
	height: 40px;
	margin: 0 20px 20px 0
}

.service-label-list label {
	display: block;
	width: 158px;
	height: 38px;
	border: 1px solid #b0b0b0;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	color: #757575;
	cursor: pointer
}

.service-label-list label.active {
	border-color: #83c44e;
	color: #83c44e;
	cursor: default
}

.service-label-list label.disabled {
	border-color: #d5d5d5;
	color: #d5d5d5;
	cursor: not-allowed
}

.service-label-list label input {
	display: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
button,
input {
	line-height: normal
}
button,
select {
	text-transform: none
}
button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}
html,
button,
input,
select,
textarea {
	font-family: sans-serif
}
.hide {
	display: none !important
}

.form-section {
	position: relative;
	margin: 0 0 14px;
	padding: 0;
	border: 0;
	text-align: left
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}
.xm-select {
	display: block;
	width: 220px;
	margin-right: 14px
}
.xm-select select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 120%;
	max-width: 120%;
	min-width: 120%;
	height: 38px;
	margin: 0;
	border: 0;
	padding: 0 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	_zoom: 1;
	vertical-align: middle;
	background: none;
	color: #333;
	outline: none;
	cursor: pointer
}
.xm-select .dropdown {
	position: relative;
	display: block;
	overflow: hidden;
	_zoom: 1;
	width: 100%;
	max-width: 100%;
	height: 38px;
	border: 1px solid #e0e0e0;
	background: #fff;
	color: #333;
	-webkit-transition: border-color .2s linear;
	transition: border-color .2s linear
}

.xm-select:hover .dropdown {
	border-color: #b0b0b0
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}
.input-label {
	position: absolute;
	left: 12px;
	top: 11px;
	z-index: 2;
	padding: 0 3px;
	font-size: 14px;
	line-height: 18px;
	color: #b0b0b0;
	background: transparent;
	cursor: text;
	-webkit-transition: all .2s linear;
	transition: all .2s linear
}
.input-text {
	width: 186px;
	height: 18px;
	padding: 10px 16px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 18px;
	background: #fff;
	-webkit-transition: border-color .2s linear;
	transition: border-color .2s linear
}

.input-text:hover {
	border-color: #b0b0b0
}

.input-text:focus {
	outline: 0
}
input.btn,
button.btn {
	width: 160px;
	height: 40px
}
.btn-primary {
	background: #ff6700;
	border-color: #ff6700;
	color: #fff
}

.btn-primary:hover {
	background-color: #f25807;
	border-color: #f25807;
	color: #fff
}
