
/* site-topbar */
.site-topbar{
	position:relative;
	z-index:30;
	height:40px;
	font-size:12px;
	color:#b0b0b0;
	background:#333;
}

.container{
	width:1226px;
	height:100%;
	margin-right:auto;
	margin-left:auto;
}

.site-topbar .topbar-nav{
	float:left;
	height:40px;
	line-height:40px;
	overflow:hidden;
}
.site-topbar .topbar-cart{
	width:120px;
	margin-left:15px;
	position:relative;
	float:right;
	height:40px;
	background:#494fc5;
}
.site-topbar .topbar-info{
	position:relative;
	float:right;
	height:40px;
	line-height:40px;
}
.site-topbar a{
	color:#b0b0b0;
}
.site-topbar .sep{
	margin:0 .5em;
	color:#424242;
}
.site-topbar .topbar-nav .sep{
	margin:2.5px;
}
.site-topbar .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.site-topbar .cart-mini-num {
    margin-left: -4px;
}
.site-topbar .cart-mini i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -3px;
}
.site-topbar .topbar-cart-active .cart-mini{
	color:#ff6700;
	background:#fff;
}
.site-topbar .cart-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 31;
    width: 316px;
    padding: 15px 0 0 ;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    flex-direction:column;
    align-items:center;
}
.site-topbar .cart-menu i{
	font-size:12px;
	background:#fff;
	color:#b0b0b0;
}
.site-topbar .cart-menu .cartList{
	width:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.site-topbar .cart-menu .cartItem{
	width:276px;
	height:60px;
	padding:10px 0;
	line-height:20px;
	display:flex;
	flex-direction:row;
	border-top:1px solid #e0e0e0;
}
.site-topbar .cart-menu .cartItem .image{
	width:60px;
	height:60px;
	background:#ffff66;
	align-self: center;
}
.site-topbar .cart-menu .cartItem .name{
	width:95px;
	height:40px;
	overflow:hidden;
	margin:10px 0 10px 20px;
	align-self: center;
	color:#333;
}
.site-topbar .cart-menu .cartItem .price{
	margin:10px 0 10px 20px;
	align-self:flex-start;
}
.site-topbar .cart-menu .cartItem .delete{
	margin:10px 0 10px 10px;
	align-self:flex-start;
	display:none;
}
.site-topbar .cart-menu .clear{
	width:276px;
	height:44px;
	padding:15px 20px;
	background:#fafafa;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.site-topbar .cart-menu .total{
	width:135px;
	height:44px;
	color:#757575;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}
.site-topbar .cart-menu .clear .totalPrice{
	font-size: 24px;
	font-weight: 400;
}
.site-topbar .cart-menu .clearBtn{
	width:130px;
	padding:0;
	font-size:14px;
	line-height:40px;
	text-align:center;
	color:#f5f5f5;
	background:#ff6700;
}
.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center;
    float:left;
}
.site-topbar .topbar-info .sep{
	margin:0;
	float:left;
}
.site-topbar .message {
    padding: 0 10px;
    float:left;
}
.site-topbar .topbar-info .user{
	float:left;
	width:110px;
	padding:0;
	white-space:nowrap;
}
.site-topbar .topbar-info .username{
	position: relative;
    z-index: 5;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size:12px;
}
.site-topbar .topbar-info .username:hover{
	color:#ff6700;
}
.site-topbar .topbar-info .myOrder{
	width:70px;
	padding: 0 5px;
    text-align: center;
    float:left;
}
.site-topbar .topbar-info .user-menu{
	width:120px;
	padding:7px 0;
	background:#fff;
	list-style-type:none;
	margin:0;
	text-align:center;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.site-topbar .topbar-info .user-menu li{
	height:30px;
	line-height:30px;
}
.site-topbar .topbar-info .user-menu li a{
	line-height:30px;
	height:30px;
	display:block;
	width:100%;
	color:#000;
}
.site-topbar .topbar-info .user-menu li:hover{
	background:#e8e8e8;
}
.site-topbar .topbar-info .user-menu li a:hover{
	color:#ff6700;
}

/* site-topbar end*/

/* site-header*/
.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
    background:#fff;
}
.site-header .container{
	position:relative;
}
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .header-nav {
    float: left;
    width: 850px;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .nav-list{
	width:820px;
	height:88px;
	position:relative;
	z-index:10;
	padding:12px 0 0 30px;
	list-style-type:none;
	margin:0;
	font-size:16px;
	float:left;
}
.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    height:88px;
    padding-right: 15px;
}
.site-header .nav-item{
	height:62px;
	float:left;
	padding:26px 10px 0 10px;
}
.site-header .nav-item-service{
	height:62px;
	float:left;
	padding:26px 10px 0 10px;
}
.site-header .nav-item:hover{
	height:62px;
	float:left;
	padding:26px 10px 0 10px;
	color:#ff6700;
}
.site-header .nav-item-service:hover{
	height:62px;
	float:left;
	padding:26px 10px 0 10px;
	color:#ff6700;
}
.site-header .nav-category .link-category {
    visibility: hidden;
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.site-category {
    display: block;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}
.site-category-list{
	height: 420px;
    border: 0;
    color: #fff;
    background: rgba(0,0,0,0.6);
	margin: 0;
    padding: 20px 0;
    list-style-type: none;
}
.site-category-list .category-item-active {
	background:#ff6700;
}
.site-category-list .title {
    color: #fff;
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.site-category-list .title i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}
.site-category-list  .children{
	display:none;
	position:absolute;
	width:992px;
	height:456px;
	top:0px;
	left:234px;
	flex-direction:column;
	align-content:flex-start;
	flex-wrap:wrap;
	padding:2px 0;
	border:1px solid #e0e0e0;
	background:#d4ecf2;
}
.site-category-list .childrenItem{
	width:265px;
	height:76px;
}
.site-category-list .childrenItem .link{
	display:block;
	padding:18px 20px;
	color:#333;
	-webkit-transition: color .2s;
	transition: color .2s;
	height: 40px;
}
.site-category-list .childrenItem .text1{
    float: left;
    display: block;
    margin-top: 10px;
    margin-left:12px;
}

.site-header .search-form {
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    background:url(../images/search.png) no-repeat center;
    background-size:24px 24px;
}
.site-header .header-nav-menu {
    position: absolute;
    top: 100px;
    left: -62px;
    z-index: 24;
    width: 1226px;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
}
.site-header .header-nav-menu-active {
    border-bottom: 1px solid #e0e0e0 \9;
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
}
.site-header .container {
    position: relative;
}
.site-header .header-nav-menu .children-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}
.site-header .header-nav-menu .children-list li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.site-header .header-nav-menu .figure-thumb {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.site-header .header-nav-menu .title {
    margin: 0;
    line-height: 20px;
    color: #333;
}
.site-header .header-nav-menu .price {
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}
.site-header .header-nav-menu .flags {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.site-header .header-nav-menu .flag {
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.site-header .header-nav-menu .children-list .line{
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
/* site-header end */

/* 轮播 carousel */
.carousel{
	width:100%;
	height:460px;
}
.carousel .carouselBody{
	width:1226px;
	height:460px;
	background: #e0baba;
	margin:0 auto;
}
.carousel .carouselBody .carouselImg{
    transform: translatez(0);
}
.carousel .carouselBody .carouselimgItem{
    float: none;
    list-style: none;
    position: absolute;
    width: 1226px;
    height: 460px;
}
.carousel .carouselBody .carouselBtn .carouselPN{
	position:relative;
}
.carousel .carouselBody .carouselBtn .carouselCircle{
	position:relative;
}
.carousel .carouselBody .carouselBtn .left{
	position: absolute;
    left: 234px;
    bottom: 180px;
    color: #b0b0b0;
    font-size: 24px;
    width: 41px;
    height: 69px;
    line-height: 69px;
    text-align: center;
    z-index:999;
}
.carousel .carouselBody .carouselBtn .left:hover{
	background:#000;
	opacity:0.5;
}
.carousel .carouselBody .carouselBtn .right{
	position: absolute;
    right: 0;
  	bottom:180px;
    color: #b0b0b0;
    font-size: 24px;
    width: 41px;
    height: 69px;
    line-height: 69px;
    text-align: center;
    z-index:999;
}
.carousel .carouselBody .carouselBtn .right:hover{
	background:#000;
	opacity:0.5;
}
.carousel .carouselBody .carouselBtn .carouselImgSwitch{
	width: 120px;
    position: absolute;
    right: 30px;
    text-align: right;
    bottom:20px;
}
.carousel .carouselBody .carouselBtn .carouselImgSwitch a{
	height: 6px;
    width: 6px;
    display: block;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    transition: all .2s;
	text-align: left;
    text-indent: -9999px;
    float:left;
}
.carousel .carouselBody .carouselBtn .carouselImgSwitch a.active{
    background: rgba(255,255,255,0.4);
    border-color: rgba(0,0,0,0.4);
}
/* 轮播 end */

/* groupPurchase */
.xm-groupPurchase{
	position: relative;
    z-index: 10;
    width: 1226px;
    height:438px;
    margin-right: auto;
    margin-left: auto;
}
.xm-groupPurchase .titleG{
	width:100%;
	height:58px;
	position:relative;
	-webkit-font-smoothing: antialiased;
}
.xm-groupPurchase .titleG .more{
	width:70px;
	height:25px;
	float:right;
	margin:20px 0 10px 0;
	position:relative;
}
.xm-groupPurchase .titleG .morePre{
	display:inline-block;
	width:33px;
	text-align:center;
	float:left;
	color:#b0b0b0;
	border:1px solid #b0b0b0;
}
.xm-groupPurchase .titleG .moreNext{
	display:inline-block;
	width:34px;
	text-align:center;
	float:right;
	color:#b0b0b0;
	border:1px solid #b0b0b0;
	border-left:0;
}
.xm-groupPurchase .content{
	width:100%;
	height:340px;
	position:relative;
	overflow:hidden;
	padding-bottom:40px;
}
.xm-groupPurchase .goods-list{
	width:1240px;
	height:340px;
	overflow:hidden;
}
.xm-groupPurchase .all-goods-list{
	display:flex;
	flex-direction:row;
}
.xm-groupPurchase .goods-item{
	width:234px;
	height:300px;
	padding-top:39px;
	margin-right:14px;
	border-top:1px solid #ff6700;
	background:#fafafa;
}
.xm-groupPurchase .inner{
	width:100%;
	height:263px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.xm-groupPurchase .inner-img{
	width:160px;
	height:160px;
	margin-bottom:22px;
}
.xm-groupPurchase .content .goods-list .title{
	margin-bottom:3px;
	margin-top:0;
	color:#212121;
	font-size: 14px;
	font-weight: 400;
	text-align:center;
}
.xm-groupPurchase .content .goods-list .desc{
	width:200px;
	height:18px;
	margin-top:0;
	margin-bottom:12px;
	font-size:12px;
	color:#b0b0b0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.xm-groupPurchase .content .goods-list .price{
	margin:0;
	color:#ff6700;
	font-size:14px;
}
/* groupPurchase end*/

/* home-main:phone, homeelec, accessory, recommend, comment */
.home-main{
	padding-top:22px;
}
.page-main{
	background:#f5f5f5;
}
.page-main .container{
	width:1226px;
	margin-right:auto;
	margin-left:auto;
}
.page-main .phoneInfomation{
	width:100%;
	height:686px;
	margin-bottom:8px;
}
.page-main .page-main-block{
	width:100%;
	height:58px;
	position:relative;
	-webkit-font-smoothing: antialiased;
}
.page-main .page-main-block .moreInfo{
	/* width:70px; */
	height:25px;
	float:right;
	margin:20px 0 10px 0;
	position:relative;
}
.page-main .page-main-block .watchMore{
	text-align:center;
	color:#424242;
	transition:all 0.4s;
}
.page-main .page-main-block .watchMore i{
	color:#b0b0b0;
	font-size:18px;
	transition:all 0.4s;
}
.page-main .page-main-block .switchmore{
	width:280px;
	height:26px;
	float:right;
	padding:16px 0 0 0;
}
.page-main .page-main-block .switchmore li{
	width:32px;
	height:26px;
	float:left;
	margin-left:38px;
	transition:all 0.5s;
}
.page-main .page-main-block .switchmore .tab-active{
	color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.page-main .page-main-block .switchmoreA{
	width:280px;
	height:26px;
	float:right;
	padding:16px 0 0 0;
}
.page-main .page-main-block .switchmoreA li{
	width:32px;
	height:26px;
	float:left;
	margin-left:25px;
	transition:all 0.5s;
}
.page-main .page-main-block .switchmoreA .tab-active{
	color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.page-main .page-main-content{
	width:100%;
	height:628px;
	position:relative;
	overflow:hidden;
	display:flex;
	flex-direction:row;
}
.page-main .phoneAdv{
	width:234px;
	height:628px;
}
.page-main .phoneInfo{
	width:992px;
	height:628px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.page-main .phoneInfo-item{
	width:234px;
	height:260px;
	padding:20px 0;
	margin:0 0 14px 14px;
	background:#fff;
	transition: all 0.2s linear;
}
.page-main .phoneInfo-itemImg{
	width:234px;
	height:614px;
	padding:0;
	margin:0 0 14px 14px;
	background:#fff;
	transition: all 0.2s linear;
}
.brick-item-active{
	-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.brick-item-active .review{
	height:76px !important;
	opacity:1 !important;
}
.page-main .inner{
	width:100%;
	height:260px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.page-main .inner-img{
	width:160px;
	height:160px;
	margin-bottom:18px;
}
.page-main .titleP{
	margin-bottom:2px;
	margin-top:0;
	color:#333;
	font-size: 14px;
	font-weight: 400;
	text-align:center;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}
.page-main .desc{
	width:200px;
	height:18px;
	margin-top:0;
	margin-bottom:10px;
	font-size:12px;
	text-align: center;
	color:#b0b0b0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .price{
	margin:0 0 10px 0;
	color:#ff6700;
	font-size:14px;
}

.page-main .elecInfomation{
	width:100%;
	height:686px;
	margin-bottom:8px;
}
.page-main .elecInfo-item{
	width:234px;
	height:260px;
	padding:20px 0;
	margin:0 0 14px 14px;
	background:#fff;
}
.page-main .elecAdv{
	width:234px;
	height:628px;
	
}
.page-main .elecInfo{
	width:978px;
	height:628px;
	margin-left:14px;
}
.page-main .elecInfo .elecInfoEle{
	width:992px;
	height:614px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.page-main .elecInfomation .phoneInfo-item{
	width:234px;
	height:246px;
	padding:34px 0 20px;
	margin:0 0 14px 14px;
	background:#fff;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.page-main .elecInfomation .phoneInfo-itemImg{
	width:234px;
	height:300px;
	padding:0;
	margin:0 0 14px 14px;
	background:#fff;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.page-main .elecInfomation .inner{
	width:100%;
	height:260px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.page-main .elecInfomation .inner-img{
	width:150px;
	height:150px;
	margin-bottom:18px;
}
.page-main .elecInfomation .title{
	margin-bottom:2px;
	margin-top:0;
	color:#333;
	font-size: 14px;
	font-weight: 400;
	text-align:center;
}
.page-main .elecInfomation .desc{
	width:200px;
	height:18px;
	margin-top:0;
	margin-bottom:10px;
	font-size:12px;
	color:#b0b0b0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .elecInfomation .price{
	margin:0 0 14px 0;
	color:#ff6700;
	font-size:14px;
}
.page-main .elecInfomation .review{
	position:absolute;
	width:234px;
	height:0;
	background:#ff6700;
	color:#fff;
	font-size:12px;
	bottom: 0;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    transition: all .2s linear;
}
.page-main .elecInfomation .review a{
    padding: 8px 30px;
    display: block;
}
.page-main .elecInfomation .review .comment{
	width: 174px;
    height: 36px;
    display: inline-block;
    margin-bottom:5px;
    color:#fff;
}
.page-main .elecInfomation .review .author{
	color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .accessoryInfomation{
	width:100%;
	height:686px;
	margin-bottom:8px;
}
.page-main .accessoryInfo-item{
	width:234px;
	height:260px;
	padding:20px 0;
	margin:0 0 14px 14px;
	background:#fff;
}
.page-main .accessoryAdv{
	width:234px;
	height:628px;
	
}
.page-main .accessoryInfo{
	width:978px;
	height:628px;
	margin-left:14px;
}
.page-main .accessoryInfo .elecInfoEle{
	width:992px;
	height:614px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.page-main .accessoryInfomation .phoneInfo-item{
	width:234px;
	height:246px;
	padding:34px 0 20px;
	margin:0 0 14px 14px;
	background:#fff;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.page-main .accessoryInfomation .phoneInfo-itemImg{
	width:234px;
	height:300px;
	padding:0;
	margin:0 0 14px 14px;
	background:#fff;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.page-main .accessoryInfomation .inner{
	width:100%;
	height:260px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.page-main .accessoryInfomation .inner-img{
	width:150px;
	height:150px;
	margin-bottom:18px;
}
.page-main .accessoryInfomation .titleP{
	margin:0;
	color:#333;
	font-size: 14px;
	font-weight: 400;
	text-align:center;
}
.page-main .accessoryInfomation .price{
	margin:0 0 10px 0;
	color:#ff6700;
	font-size:14px;
}
.page-main .accessoryInfomation .rank{
	height:18px;
	margin:0;
	font-size:12px;
	color:#b0b0b0;
}
.page-main .accessoryInfomation .review{
	position:absolute;
	width:234px;
	height:0;
	background:#ff6700;
	color:#fff;
	font-size:12px;
	bottom: 0;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    transition: all .2s linear;
}
.page-main .accessoryInfomation .review a{
    padding: 8px 30px;
    display: block;
}
.page-main .accessoryInfomation .review .comment{
	width: 174px;
    height: 36px;
    display: inline-block;
    margin-bottom:5px;
    color:#fff;
}
.page-main .accessoryInfomation .review .author{
	color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .recommend{
	position: relative;
    z-index: 10;
    width: 1226px;
    height:438px;
    margin-right: auto;
    margin-left: auto;
}
.page-main .recommend .titleB{
	width:100%;
	height:58px;
	position:relative;
	-webkit-font-smoothing: antialiased;
}
.page-main .recommend .titleB .moreSecond{
	width:70px;
	height:25px;
	float:right;
	margin:20px 0 10px 0;
	position:relative;
}
.page-main .recommend .titleB .morePreSecond{
	display:inline-block;
	width:33px;
	text-align:center;
	float:left;
	color:#b0b0b0;
	border:1px solid #b0b0b0;
}
.page-main .recommend .titleB .moreNextSecond{
	display:inline-block;
	width:34px;
	text-align:center;
	float:right;
	color:#b0b0b0;
	border:1px solid #b0b0b0;
	border-left:0;
}
.page-main .recommend .content{
	width:100%;
	height:320px;
	position:relative;
	overflow:hidden;
}
.page-main .recommend .goods-list{
	width:1240px;
	height:320px;
	overflow:hidden;
}
.page-main .recommend .all-goods-list{
	display:flex;
	flex-direction:row;
}
.page-main .recommend .goods-item{
	width:234px;
	height:240px;
	padding:40px 0 20px 0;
	margin:0 14px 14px 0;
	background:#fff;
	transition: all 0.2s linear;
}
.page-main .recommend .inner{
	width:100%;
	height:263px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.page-main .recommend .inner-img{
	width:140px;
	height:140px;
	margin-bottom:15px;
}
.page-main .recommend .content .goods-list .title{
	margin-bottom:10px;
	color:#333;
	font-size: 14px;
	font-weight:400;
	height:18px;
	text-align:center;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .recommend .content .goods-list .price{
	margin-bottom:10px;
	height:21px;
	color:#ff6700;
	font-size:14px;
}
.page-main .recommend .content .goods-list .rank{
	height:18px;
	margin:0;
	font-size:14px;
	color:#757575;
}

.page-main .comment{
	width:100%;
	height:473px;
	margin-bottom:22px;
}
.page-main .comment .titleC{
	width:100%;
	height:58px;
	-webkit-font-smoothing: antialiased;
	font-size:22px;
	font-weight: 200;
    line-height: 58px;
    color: #333;
}
.page-main .comment .content{
	width:100%;
	height:415px;
}
.page-main .comment .contentin{
	width:1240px;
	height:415px;
	display:flex;
	flex-direction:row;
}
.page-main .comment .contentItem{
	width:296px;
	height:415px;
	margin:0 14px 14px 0;
	-webkit-transition: all .2s linear;
    transition: all .2s linear;
    background:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.page-main .comment .picItem{
	width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.page-main .comment .review{
	width: 240px;
	height:72px;
	margin:0 0 22px 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
.page-main .comment .author{
	width:240px;
	height:18px;
	font-size:12px;
	margin:0 0 8px 0;
	color:#b0b0b0;
}
.page-main .comment .info{
	font-size:14px;
	margin:0;
	width:240px;
	height:21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.page-main .comment .info .title{
	display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: bottom;
    color: #333;
}
.page-main .comment .info .title a{
	color:#333;
}
.page-main .comment .info .sep{
	color:#e0e0e0;
}
.page-main .comment .info .price{
	display: inline;
    margin: 0;
    color: #ff6700;
}

/* home-main:phone, homeelec, accessory, recommend, comment  end!*/

/* service */
.fixService{
	position: fixed;
    width: 23px;
    height: 50px;
    background: #fff;
    border:2px solid #b0b0b0;
    right: 0;
    top: 50%;
    z-index: 999;
    text-align:center;
}
.fixService a{
	line-height:50px;
}
/* service end*/

/* footer */
.site-footer{
	height:272px;
}
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:1226px;
    height:25px;
}
.site-footer .list-service li{
	width:19.8%;
	height:25px;
	font-size:16px;
	text-align:center;
	border-left:1px solid #e0e0e0;
	margin:0;
	float:left;
}
.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
    line-height:25px;
    text-align:center;
}
.site-footer .footer-links {
    padding: 40px 0;
    width:1226px;
    height:112px;
}
.site-footer .footer-links-item{
	width:160px;
	height:112px;
	float:left;
}
.site-footer .footer-links-item p{
	margin:10px 0 0 0;
	width:100%;
	height:18px;
	font-size:12px;
	color:#757575;
}
.site-footer .footer-links-contact{
	width:252px;
	height:112px;
	float:right;
	border-left:1px solid #e0e0e0;
	text-align:center;
}
.site-footer .footer-links-contact p{
	font-size:12px;
	margin:0 0 16px 0;
}
.site-footer .contactA{
	width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    background: #fff;
    color: #ff6700;
    border: 1px solid #ff6700;
	display: inline-block;
	cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.site-footer .contactA:hover{
	background:#ff6700;
	color:#fff;
}
.site-info {
	margin:0 auto;
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
    width:1280px;
    height:106px;
}
.site-info .container{
	width: 1226px;
    height: 57px;
    margin-right: auto;
    margin-left: auto;
}
.site-info .logo {
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../images/logo-footer.png) no-repeat 50% 50%;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    _zoom: 1;
}
.site-info .info-text {
    float: left;
    color: #b0b0b0;
}
.site-info .info-text .sites a {
    color: #757575;
}
.site-info .info-text a {
    color: #b0b0b0;
}
.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}
.site-info .info-links {
    float: right;
    _display: inline;
    height: 28px;
    margin: 4px 0 0;
}
.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0px;
}
.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../images/slogan2016.png) no-repeat center 0;
}
/* footer end */


