.mi8-index {
    min-width: 1226px;
}

.mi8-index .section {
    text-align: center;
}

.mi8-index .section-index {
    width: 100%;
    height: 14.12em;
    position: relative;
}

.mi8-index .section-index .con,.mi8-index .section-index .ui-wrapper,.mi8-index .section-index .ui-viewport ,.mi8-index .section-index ul{
	height: 14.13em;
}

.ui-wrapper .ui-viewport {
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0);
}

.mi8-index .section ul {
	margin: 0;
    padding: 0;
}

.mi8-index .section-index li {
    display: block;
    width: 100%;
    height: 14.13em;
    float: left;
}

.mi8-index .section-index li img {
    width: 100%;
    height: 14.12em;
}

.mi8-index .section-index .txt {
    position: absolute;
    top: 0;
    color: #111;
    z-index: 2;
    width: 100%;
    padding-top: 1.3em;
}

.mi8-index .section-index .txt img {
    display: block;
    margin: 0 auto 20px;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    border: 0;
}

.mi8-index .section-index h2 {
    font-size: .23em;
    padding-top: 0;
    font-family: 'F5a5b8';
    color: white;
}

.mi8-index .section h2 {
	margin: 0 ;
	padding: 0;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: .4em;
    font-weight: normal;
}

.mi8-index .section-index p {
	margin: 0;
    font-size: 17px;
    font-family: 'F09acd';
    line-height: 1.64;
    color: white;
}

.mi8-index .section-index .txt .price {
    font-size: 25px;
}

.mi8-index .section-index .txt .price span {
    font-family: 'Avenir', Arial;
    color: white;
}

.mi8-index .section-infrared{
	background: url(../images/pad4.2.png) 50% 0 no-repeat;
	background-size: cover;
}

.mi8-index .section-infrared h2{
	font-size: 40px;
	padding-top: 40px;
}

.mi8-index .section-infrared p{
	font-size: 20px;
	margin: 15px;
}

.product-head-info {
	height: 70px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}

.product-head-box {
	width: 1226px;
	margin: 0 auto;
}

.product-name {
	float: left;
	margin: 0;
	margin-top: 20px;
	font-size: 20px;
}

