.section h2, .section h3, .section p, .section li {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
}



.header{
	border-bottom: 2px solid #ff6700;
	position: relative;
	height: 100px;
	z-index: 20;
	font-size: 12px;
	background: #fff;
}

.header-title{
	float: left;
	font-size: 28px;
	font-weight: normal;
}


.page-main{
	padding: 38px 0;
}

.section{
	padding: 30px 48px;
	margin-bottom: 30px;
	background-color: #fff;
	color: #424242;
}

.section-order{
	padding-left: 183px;
	position: relative;
}

.order-info{
	padding: 20px 0;
}

.order-info .fl{
	float:left;
}

.section .title{
	margin: 0;
    padding: 0;
}

.order-info .title{
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
}

.order-info .order-time{
	color: #616161;
	margin-bottom: 5px;
	line-height: 2;
}

.pay-time-tip{
	margin: 0 5px;
	color: #ff6700;
}

.post-info{
	color: #616161;
}

.order-info .fr{
	float: right;
	text-align: right;
}
.total{
	margin-bottom: 10px  !important;
	color: #757575;
}

.money{
	color: #ff6700;
	font-size: 14px;
}

.money em{
	font-style: normal;
	font-size: 24px;
}

a{
	color: #757575;
	text-decoration: none;
	cursor: pointer;	
}

.section-order .iconfont{
	width: 80px;
	height: 80px;
	line-height: 80px;
	position: absolute;
	top: 40px;
	left: 50px;
	font-size: 80px;
	color: #83c44e;
	text-align: center;
	border: 2px solid #83c44e;
	border-radius: 42px;
	overflow: hidden;
	font-family: "iconfont" !important;
	font-style: normal;
}

.cash-title{
	height: 50px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e0e0e0;
	font-size: 18px;
}

.payment-box{
	margin-bottom: 30px;
}

.payment-header{
	margin-bottom: 15px;
}

.section ul,.section li{
	list-style: none;
}

.payment-list{
	margin: 0 0 0 -14px;
	padding: 0;
	overflow: hidden;
}

.payment-list li{
	float: left;
	width: 174px;
	height: 60px;
	line-height: 60px;
	margin-left: 14px;
	margin-bottom: 14px;
	border: 1px solid #e0e0e0;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	transition: all .4s;
}

.order-detail{
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #e0e0e0;
	display: block;
}

.order-detail ul{
	padding: 0;
}

.order-detail li{
	line-height: 24px;
	margin-bottom: 8px;
	color: #333;
}

.label{
	float: left;
	width: 85px;
	color: #616161;
}

.content{
	float: left;
	color: #616161;
}

.order-num{
	color: #ff6700;
}

.weixin-pay{
	top:50%;
    margin-top: -220px;
    margin-left: -185px;
    position: fixed;
    left: 50%;
    width: 370px;
    height: 440px;
    background: #fff;
    z-index: 1000;
}

.pay-head{
	position: relative;
	height: 32px;
	padding: 14px 20px;
	background-color: #f5f5f5;
}

.show-pay{
	height: 360px;
	padding: 0 40px;
	position: relative;
	text-align: center;
	background-color: #fff;
}

.pay-pic{
	height: 290px;
	margin-bottom: 20px;
}

a:hover{
	color:#ff6700;
	text-decoration:none;
}

.show-pay img{
	margin-top: 30px;
}

.weixin-pay .pay-head .title{
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #424242;
}

.pay-head .close{
	position: absolute;
	top: 14px;
	right: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #757575;
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: 10;
	border-radius: 15px;
}

.pay-head .close:hover{
	color: #fff;
	background-color: #e53935;
}

.pay-head .close i{
	font-size: 24px;
	font-weight: 200;
	vertical-align: middle;
}

#mask{
	position: absolute;
 	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 999;
  	background: #666;
  	opacity: 0.5;
  	filter: alpha(opacity=50)-moz-opacity: 0.5;
  	display: none;
}

.post-info-hide{
	visibility: hidden;
}
