
.container2{
	width:1226px;
	padding-bottom: 40px;
	margin-right:auto;
	margin-left:auto;
	min-height: 500px;
	display: table;

}
.personalcenter-main{
	background-color: #FAFAFA;
}
.breadcrumbs{
	height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.breadcrumbs a {
    color: rgb(117, 117, 117);
}
.breadcrumbs sep {
    color: rgb(176, 176, 176);
    margin: 0px 0.5em;
}
.sidebar-main{
	float:left;
	width: 234px;
	background: #fff;
	padding: 36px 0;
	margin-bottom: 12px;
}
.sidebar-nav .sidebar-hd .nav-title{
	margin: 0 48px 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 52px;
	color: #333
}

.side-bar-list{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.side-bar-list li{
	padding: 6px 48px;
}
.side-bar-list a{
	color: rgb(117, 117, 117);
}
.side-bar-list li.active a{
	color: rgb(255, 103, 0);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.main-page{
	float: left;
    margin-left: 14px;
    min-height: 1px;
    
	padding: 36px 0px;
	width: 978px;
	background: rgb(255, 255, 255);
	display: block;
}