body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif !important;
    font-family: sans-serif !important;
    color: #333;
    background-color: #fff;
    min-width: 1226px !important;
    margin:0;
}
html, button, input, select, textarea {
    font-family: sans-serif !important;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
div {
    display: block;
}
h1{
	display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p{
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
del{
	text-decoration: line-through;
}
i{
	font-style: italic;
}
ul{
	padding: 0 0 0 40px;
	margin: 1em 0;
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li{
	display: list-item;
    text-align: -webkit-match-parent;
}
.fa-location-arrow:before {
  content: "\f124";
}
.clearfix{
	
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}
.product-head-info {
	height: 70px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
.product-head-box {
	width: 1226px;
	margin: 0 auto;
}
.product-name {
	float: left;
	margin: 0;
	margin-top: 20px;
	font-size: 20px;
}
.con {
	float: right;
	margin: 0;
	margin-top: 20px;
}

.con .btn-toBuy {
	padding: 8px 35px;
	font-size: 12px;
	line-height: 28px;
	background: #ff6700;
	border-color: #ff6700;
	color: #fff !important;
	margin-left: 5px;
	vertical-align: inherit;
}

.buyBox{
	padding-bottom: 50px;
}
.buyBox .login-notic {
	background: #f7f7f7;
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    color: #333;
}
.page-container {
    width: 1224px;
    margin-right: auto;
    margin-left: auto;
}
.buyBox .login-notic span{
	color: #ff6700;
    margin-left: 25px;
    cursor: pointer;
}
a {
    color: #757575 !important;
    text-decoration: none !important;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
}
a:hover {
	color: #ff6700 !important;
    text-decoration: none !important;
}
a:active,a:hover{
	outline: 0 !important;
}
.buyBox .login-notic .iconfont{
	color: #b5b5b5;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.pro-choose-main {
    padding-top: 32px;
    padding-bottom: 12px;
    position: relative;
}
.buyBox .pro-view {
    position: relative;
    float: left;
    height: 600px;
    margin-left: 0;
}
.span10 {
    width: 606px;
    min-height: 1px;
}
.buyBox .pro-view .imgload{
	width: 560px;
    height: 560px;
    background: url(../images/1a333399072a51630bc78903ceafec7f_placeholder-220.png) no-repeat center center;
}
.hide {
    display: none !important;
}
.buyBox .pro-view .img-con{
	width: 560px;
}
.buyBox .pro-view .fix{
	position: fixed;
    width: 560px;
    top: 97px;
    margin-left: 0;
    z-index: 1;
}
.ui-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}
.ui-wrapper .ui-viewport {
	transform: translatez(0);
}
.buyBox .pro-view .sliderWrap {
	overflow: hidden;
    height: 560px;
}
.buyBox .pro-view img{
	height: 560px;
}
.buyBox .pro-view img .done{
	opacity: 1;
}
.ui-wrapper img {
	max-width: 100%;
}
img {
    border: 0;
}
.buyBox .pro-view .ui-wrapper .ui-pager{
	bottom: 10px;
}
.ui-wrapper .ui-pager {
	z-index: 1;
	font-size: 12px;
    text-align: center;
    color: #666;
    position: absolute;
    left: 0;
    width: 100%;
}
.ui-wrapper .ui-pager .ui-default-pager a{
	background: #ccc;
    width: 50px;
    border-radius: 0;
    border: 0;
    height: 2px;   
    display: block;
    margin: 0 5px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: #f5f5f5;
    background: rgba(0,0,0,0.4);
    transition: all .2s;
}
.ui-wrapper .ui-pager .ui-default-pager a.active {
	background: #a3a3a3;
	border-color: rgba(0,0,0,0.4);
}
.ui-wrapper .ui-pager .ui-pager-item {
	display: inline-block;
}
.ui-wrapper .ui-controls-direction a.disabled{
	display: none;
}
.ui-wrapper .ui-controls-direction a {
	z-index: 1;
	position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
}
.ui-wrapper .ui-prev {
	left: 0;
    background: url(../images/1bc44c0e2afb4fc0826da34253a3a52f_icon-slides.png) no-repeat -84px 50%;
}
.ui-wrapper .ui-prev:hover {
	background-position: 0 50%;
}
.ui-wrapper .ui-next {
	right: 0;
    background: url(../images/1bc44c0e2afb4fc0826da34253a3a52f_icon-slides.png) no-repeat -125px 50%;
}
.ui-wrapper .ui-next:hover {
	background-position: -42px 50%;
}
.buyBox .pro-info {
	float: right;
    margin-left: 12px;
}
.buyBox .pro-info .pro-title {
	line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    color: #212121;
}
.buyBox .pro-info .sale-desc{
	color: #b0b0b0;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}
.buyBox .pro-info .pro-price {
	display: block;
    font-size: 18px;
    line-height: 1;
    color: #ff6700;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 0 20px;
}
.buyBox .pro-info .pro-price del{
	font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
}
.buyBox .loading {
	padding: 100px 0;
}
.loader{
	transform-origin: 50% 50%;
	animation-name: loader;
	animation-duration: .3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	position: relative;
    margin: 0 auto;
    width: 4px;
    height: 20px;
    background: #ff6700;
    overflow: visible;
    animation-delay: 0s;
    transform: scale(1, 1);
}
.saleWrap{
	padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.coupon-wrap{
	margin-bottom: 5px;
}
.coupon-wrap .coupon-tag {
	width: 80px;
    padding: 2px 0;
    text-align: center;
    background: #ff6700;
    color: #fff;
}
.coupon-wrap span{
	display: inline-block;
}
.coupon-wrap .couponName{
	width: 430px;
    line-height: 26px;
    margin-left: 5px;
}
.coupon-wrap a {
	color: #ff6700;
    margin-right: 15px;
    vertical-align: middle;
}
.address-wrap {
	margin-top: 40px;
    margin-bottom: 40px;
}
.address-wrap .user-default-address{
	background: #fafafa;
    border: 1px solid #e0e0e0;
    padding-left: 50px;
}
.user-default-address {
    padding: 30px 40px 30px 32px;
    border-top: 1px solid #e0e0e0;
    position: relative;
}
.address-wrap .user-default-address .iconfont-location{
	left: 20px;
	position: absolute;
    top: 26px;
    font-size: 20px;
    color: #999;
}
.address-wrap .user-default-address .fa-location-arrow{
	left: 20px;
	position: absolute;
    top: 26px;
    font-size: 20px;
    color: #999;
}
.fa {
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.user-default-address .address-info{
	display: inline-block;
}
.user-default-address .address-info .item{
	margin-right: 14px;
}
.user-default-address .switch-choose-regions{
	line-height: 1;
    color: #ff6700;
    cursor: pointer;
}
.user-default-address .product-status {
	color: #b0b0b0;
}
.user-default-address .active .sale {
    display: inline-block;
}
.user-default-address .active .over {
    display: none;
}
.user-default-address .active .sale,.user-default-address .active .over {
	color: #ff6700;
}
.list-wrap {
    margin-top: 30px;
}
.buyBox .pro-info .pro-choose{
	margin-bottom: 30px;
}
.buyBox .pro-info .pro-choose .step-title {
	line-height: 1;
    font-size: 18px;
}
.buyBox .pro-info .pro-choose ul{
	margin: 0;
    padding: 0;
    padding-top: 1px;
}
.buyBox .pro-info .pro-choose-col ul {
	margin-left: -6px;
}
.buyBox .pro-info .pro-choose ul li.active{
	border-color: #ff6700;
    color: #ff6700;
    font-color:#ff6700;
}
.buyBox .pro-info .pro-choose ul li{
	overflow: hidden;
    position: relative;
    border: 1px solid #e0e0e0;
    list-style: none;
    cursor: pointer;
    transition: all .2s ease;
    float: left;
}
.buyBox .pro-info .pro-choose-col ul li{
	margin-left: 6px;
    margin-top: 15px;
    line-height: 42px;
    height: 42px;
}

.but-biglarge{
	width: 298px;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
}
.but{
	display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
}
.but:hover {
    text-decoration: none;
    color: #b0b0b0;
}
.buyBox .pro-info .pro-choose ul li.active a{
	color: #ff6700 !important;
	text-decoration: none !important;
}
.buyBox .pro-info .pro-choose-col .step-one li a{
	text-align: left;
    margin: 0;
    padding: 0 27px;
}
.buyBox .pro-info .pro-choose-col ul li a{
	margin: 0 10px;
    text-align: center;
    text-decoration: none;
}
.buyBox .pro-info .pro-choose ul a{
	display: block;
    margin: 30px;
    color: #333;
}
.buyBox .pro-info .pro-choose-col .step-one li .name{
	width: 170px;
    overflow: hidden;
    display: inline-block;
}
.buyBox .pro-info .pro-choose-col .step-one li .price{
	float: right;
}
.buyBox .pro-info .pro-choose ul li.active a .price{
	color: #757575;
}
.buyBox .pro-info .pro-choose ul a .price{
	color: #b0b0b0;
}
.buyBox .pro-info .pro-choose ul img{
	width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
}
.buyBox .pro-info .pro-list{
	background: #f9f9fa;
    padding: 30px;
    margin-bottom: 30px;
}
.buyBox .pro-info .pro-list ul{
	padding: 0;
    margin: 0;
}
.buyBox .pro-info .pro-list ul li:first-child{
	margin-top: 0;
}
.buyBox .pro-info .pro-list ul li{
	list-style: none;
    line-height: 30px;
    color: #616161;
}
.buyBox .pro-info .pro-list ul li span{
	float: right;
}
.buyBox .pro-info .pro-list ul .totalPrice{
	color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
}
.buyBox .pro-info .btn-wrap{
	margin: 10px 0 20px 0;
    padding: 0;
}
.buyBox .pro-info .btn-wrap li{
	list-style: none;
    float: left;
    margin-right: 10px;
}
.but-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff !important;
}
.but:hover{
	text-decoration: none;
    color: #b0b0b0;
}
.but-primary:hover{
	background-color: #f25807 !important;
    border-color: #f25807 !important;
    color: #fff !important;
}
.pro-policy, .pro-policy a {
    color: #b0b0b0 !important;
}
.pro-policy a:hover{
    color: #757575 !important;
}
.buyBox .pro-info .pro-policy a{
	display: inline-block;
    cursor: default;
    white-space: nowrap;
}
.buyBox .pro-info .pro-policy span{
	display: inline-block;
    margin-right: 15px;
    line-height: 30px;
    margin-bottom: 10px;
}
.buyBox .pro-info .pro-policy span i{
	font-size: 20px;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}
.buyBox .pro-info .pro-policy span em{
	font-style: normal;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.page-container:before {
    content: " ";
    display: table;
}
.page-container:after {
	clear: both;
	content: " ";
    display: table;
}
.infor-con {
	padding-bottom: 50px;
    background: #f5f5f5;
}
.infor-con h3{
	font-size: 22px;
    font-weight: normal;
}
.infor-con img{
	width: 100%;
    display: block;
}
.fade {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    transition: opacity .15s linear;
}
.modal {
    position: fixed !important;
    top: 50%;
    left: 50% !important;
    z-index: 1050 !important;
    margin-top: -300px;
    background-color: #fff;
    outline: none !important;
}
.modal-hide {
    display: none;
}
.modal-coupon {
    width: 720px;
    height: 365px;
    margin-left: -360px;
}
.modal.fade{
	transition: opacity .4s linear, top .4s ease-out;
}
.modal.fade.in{
	top: 50%;
}
.modal .close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
}
.modal-coupon .modal-body {
    max-height: 600px;
}
.modal-body {
    position: relative;
    max-height: 400px;
    padding: 40px 60px !important;
}
.modal-coupon .list .tips {
    text-align: center;
    margin-bottom: 40px !important;
    font-size: 18px;
    margin-top: 10px !important;
    margin: 0;
    padding: 0;
}
.modal-coupon .list .con {
    max-height: 400px;
    overflow: auto;
}
.modal-coupon .list ul {
    margin: 0 !important;
    padding: 0 !important;
}
.modal-coupon .list li {
    list-style: none !important;
    margin-bottom: 10px !important;
    height: 160px !important;
}
.modal-coupon .coupon-price {
    float: left;
    background: #ff6700;
    color: #fff;
    width: 250px;
    height: 160px;
    text-align: center;
    font-size: 60px;
    line-height: 160px;
}
.modal-coupon .coupon-price sup {
    font-size: 16px !important;
    top: -31px !important; 
}
.modal-coupon .coupon-con {
    padding: 35px 25px 20px;
    margin-left: 250px;
    background: #f2f2f2;
    height: 160px;
}
.modal-coupon .coupon-txt {
    height: 68px;
    overflow: hidden;
    color: #181818;
}
.modal-coupon .coupon-time {
    font-size: 12px;
    color: #a6a6a6;
}
.modal-coupon .list p {
    line-height: 20px !important;
    margin: 0 !important;
}
.modal-setRemind {
    width: 400px;
    height: 185px;
    margin-top: -100px;
    margin-left: -200px;
}
a.known:hover{
	background-color: #f25807 !important;
    border-color: #f25807 !important;
    color: #fff !important;
}