body {
				background: #f5f5f5;
				margin: auto;
				font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
			}
			
			.normal_question {
				width: 100%;
			}
			
			.holddiv {
				border: 1px solid #e0e0e0;
				padding-bottom: 40px;
				background-color: #fff;
				margin-top: 20px;
				color: #424242;
				float: left;
				width: 100%;
			}
			.selectReceivingPoint{
				width: 1226px;
				margin:0 auto;
			}
			
			.hd {
				height: 58px;
				line-height: 58px;
				border-bottom: 1px solid #e0e0e0;
				background-color: #fafafa;
				text-indent: 40px;
			}
			
			.bd {
				padding: 25px 25px 25px 40px;
				text-overflow: ellipsis
			}
			
			.bd dl {
				
				margin: 40px 0 0;
				text-indent: 40px;
				white-space: nowrap;
			}
			
			.bd dt {
				margin-bottom: 5px;
				color: #ff6700;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			.bd dd {
				margin: 0;
				text-indent: 40px;
				line-height: 2;
				font-size: 12px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.qd {
				padding: 25px 25px 25px 40px;
				text-overflow: ellipsis
			}
			
			.qd dl {
				margin: 40px 0 0;
				text-indent: 40px;
				white-space: nowrap;
			}
			
			.qd dt {
				margin-bottom: 5px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			.qd dd {
				margin: 0;
				text-indent: 40px;
				line-height: 2;
				font-size: 12px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.resultdiv{
			float:left;
			width: 25%;
			
			}
			.selectresult {
				height: auto;
				overflow:hidden;
				width: 100%;
				border: 1px solid #e0e0e0;
				padding-bottom: 40px;
				background-color: #FFFFFF;
				color: #424242;
				float: left;
			}
			
			.selectform {
				text-align: center;
			}
			
			.selectbox {
				loat: left;
				_display: inline;
				width: 138px;
				height: 38px;
				margin: 0 5px;
				border: 1px solid #e0e0e0;
				background-color: #fff;
				overflow: hidden;
				_zoom: 1;
				position: relative;
			}
			
			.selectbutton {
				background: #ff6700;
				border-color: #ff6700;
				width: 138px;
				height: 40px;
				line-height: 40px;
				display: inline-block;
				background-color: #ff6700;
				color: #fff;
				border-radius: 0;
				text-transform: none;
				vertical-align: baseline;
				padding: 0;
				margin: 0;
				border: 1px solid #b0b0b0;
			}
			
			.desc {
				margin: 0 0 35px;
				font-size: 20px;
			}