.spike {
    background: #f5f5f5;
}
.spike-head {
    background: #f5f5f5 url(../images/seckill-head.jpg) 50% 0 no-repeat;
    height: 170px;
}
.spike h1 {
    text-indent: -9999px;   
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.page-container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.spike-banner{
	background: #414141;
    margin-top: -68px;
    height: 68px;
    margin-bottom: 22px;
}
.relative {
    position: relative;
}
.fixed{
	position: fixed;
}
.modal-nostart {
    width: 150px;
    height: 36px;
    position: absolute;
    display: none;
    left: 50%;
    z-index: 999;
    top: 0;
    line-height: 36px;
    margin-top: 78px;
    margin-left: -75px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2000000", endColorstr="#b2000000")\9;
    text-align: center;
}
.spike-banner ul {
    width: 100%;
    overflow: hidden;
    height: 68px;
    background: #414141;
}
.spike ul, .spike p {
    margin: 0;
    padding: 0;
}
.spike-banner .active {
    background: #f1393a;
}
.spike-banner li {
    width: 20%;
    cursor: pointer;
    line-height: 68px;
    height: 68px;
    text-align: center;
    background: #414141;
}
.spike li {
    list-style: none;
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.spike-banner li a{
    color: #fff;
}
a {
    color: #757575;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
a:hover,a:focus {
    color: #ff6700;
    text-decoration: none !important;
}
a:-webkit-any-link {
    color: -webkit-link;   
    cursor: auto;
}
.spike-banner li em {
	display: inline-block;
    margin-left: 30px;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}
.spike-banner li span {
	display: inline-block;
    margin-left: 15px;
    text-align: left;
    line-height: 1;
    vertical-align: middle;
}
.spike-banner li span em{
	line-height: 20px;
	text-align: left;
	display: inline-block;
	font-style: normal;
	margin-left: 0;
	font-size: 14px;
}
em {
    font-style: italic;
}
.spike .spike-con ul.active {
	display: block;
}
.spike .spike-con ul {
	margin-left: -13px;
}
.spike .spike-con ul li{
	background: #fff;
    width: 400px;
    height: 190px;
    margin-left: 13px;
    margin-bottom: 13px;
    transition: all .2s linear;
    position: relative;
    z-index: 2;
}
.spike .spike-con ul li:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
	transform: translate3d(0, -2px, 0);
}
.spike .spike-con ul li .img-con{
	width: 190px;
    height: 190px;
    float: left;
    margin-left: 0px !important;
    padding-top: 0px !important;
    background-color: #e9e9e9;
    border: 0 none;
    overflow: hidden;
}
.spike .spike-con ul li img{
	width: 100%;
    height: 190px;
    display: block;
    padding: 0;
    border-style: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.spike .spike-con ul li .pro-con{
	margin-left: 210px;
    padding-top: 25px;
}
.spike .spike-con ul li .pro-con .name{
	font-size: 16px;
    color: #333;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
}
.spike .spike-con ul li .pro-con .desc.tips{
	margin-top: 10px;
}
.spike .spike-con ul li .pro-con .desc{
	color: rgba(0,0,0,0.54);
	margin-top: 7px;
    font-size: 12px;
    line-height: 14px;
}
p{
	margin: 1em 0;
}
.spike .spike-con ul li .pro-con .process{
	width: 146px;
    height: 5px;
    margin-top: 10px;
    position: relative;
    background: #f5f5f5;
}
.spike .spike-con ul li .pro-con .process span{
	display: block;
    background: #f1393a;
    -webkit-transition: width 1s;
    transition: width 1s;
    height: 100%;
}
.spike .spike-con ul li .pro-con .process em{
	font-style: normal;
    position: absolute;
    right: -35px;
    top: -2px;
    line-height: 1;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
}
.hide {
    display: none !important;
}
.spike .spike-con ul li .pro-con .price{
	font-size: 16px;
    color: #f1393a;
    line-height: 1;
    margin-top: 14px;
}
.spike .spike-con ul li .pro-con .price del{
	margin-left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    font-style: normal;
}
del{
	text-decoration: line-through;
}
.spike .spike-con ul li .pro-con .btn-disabled{
	background: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
}
.spike .spike-con ul li .pro-con .but{
	margin-top: 15px;
    font-size: 14px;
    color: #fff;
}
.btn-green{
	background: #83c44e;
    border-color: #83c44e;
    color: #fff;
}
.btn-green:hover {
    background-color: #71b639;
    border-color: #71b639;
    color: #fff;
}
.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.btn-disabled {
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
    color: #b0b0b0 !important;
    cursor: default !important;
}
.but {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}
.but:hover {
    text-decoration: none;
}
.spike .spike-con ul li .pro-con .person{
	font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    color: rgba(0,0,0,0.54);
}
.spike .spike-con ul li .pro-con .btn-primary{
	background: #f1393a !important;
    border-color: #f1393a !important;
}
.btn-primary{
	background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.spike-empty{
	background: #fff;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
    color: #b0b0b0;
}
.spike .notic{
	padding-bottom: 35px;
    font-size: 12px;
    color: rgba(0,0,0,0.27);
    margin-top: 100px;
}
.page-container:before {
    content: " ";
    display: table;
}
.page-container:after {
    clear: both;
    content: " ";
    display: table;
}
.modal{
	position: fixed !important;
    left: 50%;
    z-index: 1050;
    width: 660px;
    margin-left: 425px;
    margin-top: -100px;
    background-color: #fff;
    outline: none;
}
.modal.fade {
    transition: opacity .4s linear, top .4s ease-out;
    top: -25%;
}
.fade{
	opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-remind {
    text-align: center;
    width: 500px;
    height:246px;

}
.modal-hide {
    display: none;
}

.modal .close {
	position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
}

.modal-remind h3 {
    font-size: 26px;
}
h3 {
    margin: 1em 0;
}
h3.modal-title{
	
}
.btn-gray {
	width: 158px;
    height: 38px;
    background: #b0b0b0;
    border-color: #b0b0b0;
    color: #fff;
}
.modal.fade.in{
	top: 50%;
}
.fade.in{
	opacity: 1;
}
.modal-body{
	position: relative;
    max-height: 400px;
    padding: 40px 60px;
}

div {
    display: block;
}

body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
    margin:0;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}