body{
	margin: 0px;
	padding: 0px;	
	font-size: 14px;	
}
#wrapper{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

#upside{
	height: 80px;
    margin: 0 auto;

}
#upside img{
	margin-top: 40px;
	margin-left: 170px;
	float: left;
}

#upside #return a{
	text-decoration: none;
	float: left;
	font-size: 14px;
	color: #46639c;
	padding-top: 45px;
	margin-left: 860px;
	
}
#middleside{
	width: 900px;
	height: 500px;
    margin: 0 auto;
    
}
#middleside #title-item{
	padding-left: 350px;
	width: 900px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 130px;
	background: #f9f9f9;

}
#middleside #main-item{
	padding-top: 40px;
	width: 900px;
	height: 450px;
	border-radius: 20px;
	background: white;
}
#main-item h4{
	margin-left: 275px;
	font-size: 16px;
	display: inline;
	color: #333;
    font-weight:bold;
}
#main-item .div1{
	margin-left: 275px;
}
#main-item .div1 input{
	width: 300px;
	height: 40px;
	margin: 2px;
}
#main-item select{
	width: 310px;
	height: 40px;
}
#main-item .div2{
	margin-left: 275px;
	margin-top: 15px;
}
#main-item .div2 input{
	font-size: 16px;
	width: 303px;
	height: 45px;
	margin: 2px;
	background: #ff6700;
	border: 0px solid;
	color: #fff
}
#footer{
	height: 50px;
	text-align: center;
	padding-top: 40px;
}
